--extra-index-url "https://download.pytorch.org/whl/cpu"
optimum-intel@git+https://github.com/huggingface/optimum-intel.git@v2.1.0
nncf@git+https://github.com/openvinotoolkit/nncf.git@7a6ac29a15d247c0fc76da93f4d53bbfa7b489cc
transformers<=4.53
